<div class="hm-p-header">
    <div>

    </div>
    <div class="hm-p-body">
        <div class="hm-p-body-container">
            <div class="hm-p-container-1">
                <div class="t-hd-text">
                 Use WhatsApp on your computer
                </div>
                <div class="hm-p-guideline">
                 <div class="t-bd-text">
                     1. Open WhatsApp on your Phone
                 </div>
                 <div class="t-bd-text">
                     2. Tap Menu : or Settings   and select Linked Devices
                 </div>
                 <div class="t-bd-text">
                     3. Tap on Link a device
                 </div>
                 <div class="t-bd-text">
                     4. Point your Phone to this screen to capture to the QR code
                 </div>
                </div>
             </div>
             <div class="hm-p-container-2">
                 <img src="../../../assets/download.png">
             </div>
        </div>
    </div>
</div>